body{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
}

#result {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    width: 900px;
}

#listReminder{
    border: 1px solid;
    padding: 10px;
}
.content{
    width: 50%;
}
.content1{
    display: block;
    margin: 10px;
    padding: 20px;
    border: 1px solid;
}
